<div style="width: 100%">
  <p>Looks like you're having some trouble logging in.</p>
  <p>
    Click <span style="font-weight: bold">Reset Password</span> below and you'll
    be able to set a new password for your account.
  </p>
  <div
    style="
      padding: 10px;
      border-radius: 10px;
      background: rgba(247, 180, 12, 0.7);
      text-align: center;
      margin-bottom: 20px;
    "
  >
    <a style="color: #fff; text-decoration: none" href="<%=data.link%>"
      >CLICK HERE</a
    >
  </div>
  <p>
    If you didn't try to reset your password, get in touch with the our support
    team right away
  </p>
</div>
