<div style="width: 100%">
  <p>
    We are thrilled to inform you about the success of your investment with us.
  </p>

  <ul style="list-style: none; padding-left: 0">
    <li><strong>Plan Name:</strong> <%=data.plan%></li>
    <li><strong>Amount Deposited:</strong> <%=data.amount%></li>
    <li><strong>Profit Earned:</strong> <%=data.profit%></li>
  </ul>

  <p>
    Your commitment and trust in our platform have led to this fruitful outcome.
    We deeply appreciate your belief in our investment plans and services.
  </p>

  <p>
    Should you have any queries or need further information regarding your
    investment or future opportunities, please feel free to reach out to our
    support team. We are dedicated to providing you with comprehensive
    assistance and ensuring your continued satisfaction.
  </p>

  <p>
    Thank you once again for choosing our platform for your investment goals. We
    look forward to serving you further and helping you achieve more success in
    the future.
  </p>
</div>
