<div style="width: 100%; color: #cccccc">
  <p>
    We're excited to welcome you to our automated trading community! Your recent
    purchase of a trading bot with us is the first step toward unlocking new
    opportunities in your trading journey.
  </p>
  <p style="font-size: 24px; text-align: center; font-weight: bold">
    <%=data.id%>
  </p>
  <p>
    To ensure a seamless setup process and get your bot trading effectively,
    we've assigned a dedicated support representative, Gina, to guide you
    through the configuration steps.
  </p>
  <p>
    Please click either of the links to send your Bot ID to our Technical
    Support Rep via
    <a href="https://wa.me/<%=data.phone%>">WhatsApp</a> or
    <a href="http://t.me/<%=data.telegram%>">Telegram</a> to commence the setup
    process. Our team will provide you with step-by-step guidance tailored to
    your trading preferences.
  </p>
  <p>
    For any questions or additional assistance, feel free to contact our team.
    We're here to support your success in the trading world.
  </p>
</div>
