<div style="width: 100%">
  <ul style="list-style: none; padding-left: 0">
    <li><strong>Referral Bonus Amount:</strong> <%=data.profit%> USD</li>
    <li><strong>From User:</strong> <%=data.user%></li>
    <li><strong>Plan:</strong> <%=data.plan%> Plan</li>
  </ul>

  <p>
    Your efforts in referring others to our platform have been fruitful, and we
    sincerely appreciate your contribution to our community.
  </p>

  <p>
    If you have any questions or require further assistance regarding the
    referral bonus or any other aspects of our services, please feel free to
    contact our support team. We are committed to providing you with the
    assistance you need.
  </p>

  <p>
    Thank you for being an integral part of our platform and for your ongoing
    support. We value your trust and look forward to more mutually beneficial
    interactions in the future.
  </p>
</div>
