<div style="width: 100%">
  <p>
    Welcome to <%=data.app_name%>! Ready to experience all the benefits of being
    financially independent? Before you head off to the races, make sure to
    verify your email address by clicking the button below:
  </p>
  <div
    style="
      padding: 10px;
      border-radius: 10px;
      background: rgba(247, 180, 12, 0.7);
      text-align: center;
      margin-bottom: 20px;
    "
  >
    <a style="color: #fff; text-decoration: none" href="<%=data.link%>"
      >CLICK HERE</a
    >
  </div>
  <p>Use this link to confirm your email address.</p>
  <p>If you didn't try to verify your email, then ignore this message.</p>
</div>
